
#title{
    background-color: #d8e3e7;
    text-align: center;
    padding-bottom: 50px;
}
.container-fluid{
    padding:10px;
}
.navbar{
    margin:0 auto;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
}
.nav-item{
    padding-left: 10px;
    padding-right: 10px;
    
}

.row{
    margin-top:50px;
}
.tit{
    margin-top: 130px;
}


.intro{
    padding-top: 100px;
    padding-right: 50px;
    text-align: left;
    font-family:'Itim';
    font-size: 3rem;
    line-height: 1.5;

}

.prof-img{
    padding:10px;
    font-family: 'Itim';
}
.img{
    padding-bottom: 10px;
}

#skills{
    background-color: #132c33;
    padding:20px;
    text-align: center;
    color: white;
}
#skills h1{
    padding:10px;
}
.symbol{
    font-size: 5rem;
}

#Accomplishments{
    padding: 20px;
    background-color: #d8e3e7;
    text-align: center;
}

#Certifications{
    padding: 20px;
    background-color:#132c33;
    text-align: center;
    color: white;
}

.btn{
    margin-bottom: 20px;
}
hr{
    width:50%;
    margin-left: auto;
    margin-right: auto;

}
input[type=text],input[type=email] , textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
  }

#Contact{
    padding: 10px;
    background-color:#d8e3e7;
    /* text-align: center; */
}
#Contact h1{
    text-align: center;
    padding-top: 50px;
}
#Contact .btn{
    margin-top:10px;
}
#Footer{
    padding:50px;
    background-color: #132c33;
    text-align: center;
    color: white;

}
.foots{
    font-size: 2rem;
    margin:20px;
    
}
.foots:hover{
    font-size: 2.5rem;
}
@media(max-width:975px) {
    .intro{
        text-align: center;
        padding-top: 50px;
    }
    #Contact h1{
        text-align: left;
        padding:0%;
    }

}
  